<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Nouveau projet</h1>

            <% form_for(@projet, :html => {:multipart => true}) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => { :f => f } %>

              <p>
                <%= f.submit 'Enregistrer' %>
              </p>
            <% end %>

            <%= link_to 'Retour', projets_path %>
        </div>
    </div>
</div>


