body {
	color: #494949;
	height: 100%;
}

html {
	background-color: #cde8fb;
}

/* @group Header */

div #hd {
	width: 974px;
	height: 161px;
}

#hd #menu ul {
	display: block;
	position: absolute;
	margin-left: 160px;
	top: 123px;
}

#hd #menu ul li  {
	display: inline;
	line-height: 38px;
}

#hd #menu ul li a {
	font-weight: bold;
	background: url(../images/bk_menuoff.gif) no-repeat center center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	height: 36px;
	width: 84px;
	color: navy;
}

#hd #menu ul li a:hover {
	background: url(../images/bk_menuon.gif) no-repeat center center;
	color: white;
}



/* @end */

/* @group Body */

div #bd {
	background-color: #f9fbfb;
	border: 1px solid #e4e4e4;
	padding: 20px;
	height: auto;
	min-height: 650px;
}

#bd div.accroche {
	display: block;
	width: 620px;
	height: 67px;
	background: url(../images/bkaccroche-accueil.png) no-repeat center center;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}

#bd div.accroche div#boule-orange {
	float: left;
	top: -25px;
	display: block;
	position: relative;
	margin-left: 10px;
}

#bd div.accroche p {
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 70px;
	color: black;
}

#bd div.yui-g p {
	margin-bottom: 10px;
}

#bd div.yui-g #boule-rouge {
	display: block;
	position: relative;
	top: 20px;
	margin-left: 10px;
}

#bd div.yui-g #boule-grise {
	display: block;
	position: relative;
	top: 20px;
	margin-left: 10px;	
}

#bd #yui-main .yui-g.btexte p {
	width: 620px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#bd #yui-main .yui-g.btexte p a {
	color: #618490;
}

#bd #yui-main .yui-g.btexte p a:hover {
	color: #df6900;
}

#bd h2 {
	width: 620px;
	height: 26px;
	display: block;
	background: url(../images/bk-titreparagraphe.png) no-repeat;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 5px;
	color: black;
	margin-bottom: 10px;
}

#bd h1 {
	color: #1d8cdd;
	font: bold 153.9% Georgia, "Times New Roman", Times, serif;
	margin-bottom: 15px;
	margin-top: 15px;
}

#bd div.yui-g.b1c2 {
	background-image: url(../images/b1c2.gif);
	margin-top: 15px;
	width: 230px;
	height: 115px;
}

#bd div.yui-b.sidebar div.yui-g.b1c2 div#boule-verte {
	display: block;
	position: relative;
	top: -15px;
	margin-left: 8px;
}

#bd div.yui-b.sidebar div.yui-g.b1c2 p {
	text-align: center;
}

div.yui-g.b1c2 a {
	color: #bd4a44;
	font-variant: small-caps;
	font-size: 1.9em;
}

#bd div.yui-g.b2c2 {
	background: url(../images/b2c2.gif) no-repeat;
	width: 230px;
	height: 350px;
	margin-top: 20px;
}

#bd div.yui-b.sidebar div.yui-g.b2c2 div#boule-bleu {
	display: block;
	position: relative;
	top: -15px;
	margin-left: 8px;
}

#bd div.yui-b.sidebar div.yui-g.b2c2 p {
	text-align: center;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#bd div.yui-g table {
	margin-top: 10px;
}

#bd div.yui-g table tr {
	border: 1px solid #024bbc;
}

#bd div.yui-g table td {
	border: 1px solid #024bbc;
	padding-left: 10px;
}

#bd div.yui-g table th {
	background-color: #cfe7f9;
	width: 25%;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	color: navy;
}

#bd div.yui-g div.categorie table.portfolio {
	border-style: none;
	margin-bottom: 10px;
}

#bd div.yui-g div.categorie table.portfolio tr {
	border-style: none;
}

#bd div.yui-g div.categorie table.portfolio td {
	border-style: none;
}

#bd div.yui-g div.categorie table.portfolio td a {
	text-decoration: underline;
	color: #ff612b;
	font-style: italic;
	font-weight: bold;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#bd form p {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.yui-b.sidebar div.yui-g.login {
	margin-top: 15px;
	text-align: center;
	padding: 5px;
	width: 95%;
}

div.yui-b.sidebar div.yui-g.login a {
	color: white;
	font-weight: bold;
	display: block;
}

#bd div.yui-g p.photo img {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 15px;
}

/* @end */

#ft {
	height: auto;
	display: block;
	background-color: #007eee;
	bottom: 0;
	text-align: center;
	color: white;
	line-height: 20px;
	font-size: 93%;
}