<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
                Avec plus de 3 ans d'expérience des technologies Ruby on Rails, PHP et Java, nous vous aiderons à résoudre vos problématiques liées aux technologies de l'information de communication.
            </p>
        </div>
        
        <div class="yui-g">
            <h1>Nous pouvons vous aider dans les domaines suivants :</h1>
            
            <h2>Conception de site internet</h2>
            <p>
                Adoptez ce medium puissant de communication et de marketing direct. Bénéficier de l'étude et de la réalisation du prototype gratuitement. Ceci permettra l'établissement d'un devis personnalisé et du planning de réalisation du projet.
                <%= link_to "Consulter le portfolio", projets_path() %>
            </p>
            
            <h2>Maintenance, Mise à jour de site et Refonte</h2>
            
            <p>
                Un site est un medium de communication. Il se doit d'être vivant pour être efficace. Un site régulièrement mis à jour est un outil de fidélisations et de bonne relation clientèle.
            </p>
            <p>
                De même, l'aspect et les fonctionnalités d'un site devraient toujours rester agréable à l'utilisateur ; une refonte de l'interface et des fonctions de votre site peut le re-dynamiser. 
            </p>
            
            <h2>Réalisation de système d'information</h2>
            <p>
                blabla
            </p>
            
            <h2>Formation spécifique à Ruby on Rails</h2>
            <p>
                Apprivoiser cette magnifique technologie de développement web et décupler votre productivité.<br/>
                Pré-requis : Une connaissance basique du système client serveur et des bases de données sont necessaires.
            </p>
            
            <h2>Formation à l'outil informatique et multimedia</h2>
            
            <p>
                Nous dispensons des cours 
            </p>
        </div>
    </div>
</div>

<div class="yui-b">
    
</div>