<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g accroche">
            <div id="boule-orange">
                <%= image_tag("Boule-orange.png") %>
            </div>
            <p>
                Avec plus de 3 ans d'expérience des technologies Ruby on Rails, PHP et Java, nous vous aiderons à résoudre vos problématiques liées aux technologies de l'information de communication.
            </p>
        </div>
        
        <div class="yui-g">
            <h1>Nous pouvons vous aider dans les domaines suivants :</h1>
        </div>
    </div>
</div>

<div class="yui-b">
    
</div>